/* Résolution iPad.*/
@media screen and (min-width: 768px) and (max-width: 1024px) {

    .petit_nuage {
        position: center;
    }
    .contact {
        margin-top: 8%;
        margin-bottom: 8%;
    }

    .orangeBox{
        
    }
}

/* Résolution Desktop.*/
@media screen and (min-width: 1025px) {
    .contact {
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 6%;
        margin-bottom: 2%;
    }

    .sendButton {
        font-size: 150%;
    }

}

/* CONTACT US */

body {
    background-color: #25274d;
}

/*
PARTIE DE BASE QUI POSE PROBLEME

.contact {
    padding: 4%;
    height: 400px;
}
*/
.contact {
    padding-bottom: 4%
}




.orangeBox {
    background: #ff9b00;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.contact-info {
    margin-top: 10%;
}

.contact-info img {
    margin-bottom: 15%;
}

.contact-info h2 {
    margin-bottom: 10%;
    color: white;
}

.inputBox {
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.contact-form label {
    font-weight: 600;
}

.contact-form button {
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
}

.contact-form button:focus {
    box-shadow: none;
}

.petit_nuage {

    width: 40%;
}

.mail_wings {
    width: 40%;
    transform: rotate(10deg);

}

.text_contact_us {
    padding-bottom: 2%;
    color: white;
    text-align: center;
}

.para_contact {
    padding-bottom: 2px;
    text-align: center;
}

/* Add from "Loup" */

.contactUs {
    text-align: center; 
}