/* Résolution Mobile.*/
@media screen and (min-width: 375px) and (max-width: 812px) {}

/* Résolution Tablette.*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* add part ipad */

    .titleArticle {
        margin-bottom: 15%;
    }

    .titleArticle a {
        font-size: 1.5rem;
    }

    .sizeH1 {
        font-size: 2.75rem !important;
    }
}
}

/* Résolution Desktop.*/
@media screen and (min-width: 1025px) {}


/*@import url('https://fonts.googleapis.com/css?family=Barlow');*/

@font-face {
    font-family: 'Barlow';
    src: url('fonts/Barlow-Medium.ttf');
}


.img_search {
    width: 20px;
}

footer {
    background-color: #404040;
    color: white;
}

.link a {
    color: orange !important;
    font-weight: 600;
}

.endparaf {
    color: grey;
}

.endtext {
    height: 100%;
    margin-top: 5%;
    margin-left: 5%;
    padding-bottom: 5%;
}

.endtext h3 {
    font-weight: 600;
}

.endtext p {
    margin-top: 10%
}

body {
    padding-top: 80px;
    font-family: 'Barlow', sans-serif !important;
    background-image: url("img/dust_scratches.png");

}

.logoFooter {
    width: 50px;
}

.follow {
    font-weight: 600;
    padding-top: 2.8% !important;
}

.logoHead {
    width: 120px
}

.styleFooter {
    padding-left: 10%;
    padding-right: 10%;
}

.footerTitle {
    font-size: 1.1em;
}

.lineFooter {
    background-color: grey;
}

.textFb {
    font-weight: 600;
}

.textTw {
    font-weight: 600;
}

.porte {
    width: 30%;
}

/* ajout pour la partie Avant Article & Article */

.sizeH1 {
    font-size: 1.5rem;
    color: grey;
    font-weight: 700;
}

.trendsTitle h2 {
    font-size: 1.2rem;
    color: #f78f2c;
    font-weight: 600;
}

.trendsTitle h3,
.articlesTitle h3 {
    font-size: 0.9rem;
    color: #a1a1a1;
    font-weight: 600;
}

.trends li {
    font-size: 0.8rem;
}

.trends ul,
.articles ul {
    list-style: none;
    padding-left: 0;
}

.trends ul li,
.articles ul li {
    padding: 4% 0 2% 0;
    border-bottom: 1px solid #e5e5e5;

}

.listFirst {
    border-top: 1px solid #e5e5e5;
}

.chart {
    margin-bottom: 2%;
    padding: 0;
}

/*.chartItemFull{
    background-color: orange;
    width: 0.2rem;
    height: 1.4rem;
    margin: 0 1% 0 1%;
    border-radius: 2px;
}*/

.chartImg {
    height: 100% !important;
    width: 100% !important;
}

.trends ul li a {
    padding-top: 0;
    font-weight: 600;
}

.articlesTitle h2 {
    font-size: 1.2rem;
    color: #506a85;
}

.articles ul li {
    padding-bottom: 5%;
}

.articleImg {
    margin: 0;
    padding-top: 3%;
    width: 20%;
    height: 20%;
}

/* add from "Loup" for background article */

.backgroundArticle {
    background-color: white;
}

/* end add "Loup" */